Makefile.in
Makefile
*.c
*.o
*.lo
*.la
*.h
*~
aclocal.m4
autom4te.cache
compile
config.guess
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
*.stamp
*.anjuta
.deps
.libs
libtool
stamp-h1
intltool-extract.in
intltool-merge.in
intltool-update.in
src/arbore
.anjuta_sym_db.db
.intltool-merge-cache
Makefile.in.in
POTFILES
stamp-it
